*.jpeg filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
images/*.png filter=lfs diff=lfs merge=lfs -text
images/*.jpg filter=lfs diff=lfs merge=lfs -text
images/*.jpeg filter=lfs diff=lfs merge=lfs -text
images/*.PNG filter=lfs diff=lfs merge=lfs -text
images/*.JPG filter=lfs diff=lfs merge=lfs -text
